<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <h1 class="text-3xl">Login</h1>
    <form action="/login/backend" method="POST" class="flex flex-col items-center justify-center h-screen">
        <input type="text" name="username" placeholder="Username" class="mb-4 p-2 border border-gray-300 rounded">
        <input type="password" name="password" placeholder="Password" class="mb-4 p-2 border border-gray-300 rounded">
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Login</button>
    </form>


</body>
</html>